<div class="contact-section-wrapper">
    <div class="contact-info">
        <h1 class="typewriter"> <%- docText.common.contact_headline %> </h1>
        <p> <%- docText.common.contact_text %> </p>
        <div class="email-container">
            <div class="icon-container">
                <i class="fas fa-envelope-open-text"></i>
            </div>
            <a href="mailto:089manu6@gmail.com"> <%- docText.common.contact_email %> </a>
        </div>
        
    </div>

    <div class="contact-formular">
        <form action="/contact" method="POST">
            <div class="inputs-wrapper">
                <div class="input-container">
                    <label for="name"> <%- docText.common.contact_form_label_name %> </label>
                    <input type="text" name="name" placeholder="<%- docText.common.contact_form_placeholder_name %>" required>
                </div>
                <div class="input-container">
                    <label for="email"> <%- docText.common.contact_form_label_email %> </label>
                    <input type="text" name="email" placeholder="<%- docText.common.contact_form_placeholder_email %>" required>
                </div>
                <div class="input-container">
                    <label for="topic"> <%- docText.common.contact_form_label_topic %> </label>
                    <input type="text" name="topic" placeholder="<%- docText.common.contact_form_placeholder_topic %>" required>
                </div>
            </div>
            <div class="message-input-wrapper">
                <textarea rows="1" cols="30" name="content" placeholder="<%- docText.common.contact_form_placeholder_textarea %>"
                    required></textarea>
                <button class="contact-btn" type="submit"><i class="fas fa-paper-plane"></i> <%- docText.common.contact_form_submit_button %> </button>
            </div>
        </form>
    </div>
</div>