<!DOCTYPE html>
<html lang="<%- language %>">

<head>
    <title> <%- docText.not_found_page.doc_title %> </title>
    <link rel="icon" href="../assets/img/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar">
            <div>
                <ul class="navlinks">
                    <li class="active"><a href="/<%- language %>"> <%- docText.common.home %> </a></li>
                    <li><a href="/<%- language %>/about"> <%- docText.common.about %> </a></li>
                    <li><a href="/<%- language %>/impressum"> <%- docText.common.impressum %> </a></li>
                </ul>
            </div>
        </div>
        
        <div class="page-not-found">
            <h1>404 Error</h1>
            <h2> <%- docText.not_found_page.error_desc %> </h2>
        </div>

        <%- include partials/select-country.ejs %>
    </header>
</body>
