<!DOCTYPE html>
<html lang="de">

    <head>
        <title>Web Development</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/main.css" rel="stylesheet">
        <link href="/assets/css/animate.css" rel="stylesheet">
    </head>

    <body>
        <header class="landing">
            <div class="navbar">
                <div>
                    <ul class="navlinks">
                        <li><a href="/<%- language %>"> <%- docText.index_page.home %> </a></li>
                        <li class="active"><a href="/<%- language %>/about"> <%- docText.index_page.about %> </a></li>
                        <li><a href="/<%- language %>/offers"> <%- docText.index_page.offers %> </a></li>
                        <li><a href="/<%- language %>/impressum"> <%- docText.index_page.impressum %> </a></li>
                    </ul>
                </div>
            </div>

            <div class="personal-info-wrapper">
                <div class="personal-information">
                    <h1> <%- docText.about_page.about_heading %> </h1>
                    <p> <%- docText.about_page.about_text %> </p>
                </div>
            </div>
            <div class="code"></div>

            <%- include partials/select-country.ejs %>
        </header>
                
        <div class="container">
            <div class="timeline-intro">
                <h1> <%- docText.about_page.CV_heading %> </h1>
            </div>

            <div class="timeline">
                <div class="content-container right">
                    <div class="content">
                        <h2> <%- docText.about_page.CV_2018_heading %> </h2>
                        <h4> <%- docText.about_page.CV_2018_desc %> </h4>
                        <p> <%- docText.about_page.CV_2018_location %> </p>
                    </div>
                </div>
                <div class="content-container left">
                    <div class="content">
                        <h2> <%- docText.about_page.CV_2017_heading %> </h2>
                        <h4> <%- docText.about_page.CV_2017_desc %> </h4>
                        <p> <%- docText.about_page.CV_2017_location %> </p>
                    </div>
                </div>
            </div>

                <div class="info-wrapper">
                    <h1><%- docText.about_page.programming_info_heading %></h1>

                    <div class="programming-languages">
                        <div class="proglang-container">
                            <img src="/assets/img/HTML5.svg">
                            <h3>HTML5</h3>
                        </div><!--

                        --><div class="proglang-container">
                            <img src="/assets/img/CSS3.svg">
                            <h3>CSS3</h3>
                        </div><!--

                        --><div class="proglang-container">
                            <img src="/assets/img/JavaScript.svg">
                            <h3>JavaScript</h3>
                        </div><!--

                        --><div class="proglang-container">
                            <img src="/assets/img/Python.svg">
                            <h3>Python</h3>
                        </div><!--

                        --><div class="proglang-container">
                            <img src="/assets/img/Java.svg">
                            <h3>Java</h3>
                        </div><!--

                        --><div class="proglang-container">
                            <img src="/assets/img/git.svg">
                            <h3>GIT</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <%- include partials/footer.ejs %>

        <!-- FOR CHANGING NAVBAR ON SCROLL-->
        <script src="/assets/js/navbar.js"></script>
    </body>
</html>