<!DOCTYPE html>
<html lang="<%- language %>">

<head>
    <title>Manuel Neumayer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/glider.min.css" rel="stylesheet">
    <link href="/assets/css/compiled.css" rel="stylesheet">
</head>

<body data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="home">
        <header>
            <div class="mobile-nav-toggler">
                <div class="mobile-nav-line first"></div>
                <div class="mobile-nav-line second"></div>
            </div>
            <div class="navigation">
                <ul>
                    <li class="active-nav-item"><a href="/<%- language %>"> <%- docText.common.home %> </a></li>
                    <li><a href="/<%- language %>/about"> <%- docText.common.about %> </a></li>
                    <li><a href="/<%- language %>/portfolio"> <%- docText.common.portfolio %> </a></li>
                    <li><a href="#"> <%- docText.common.impressum %> </a></li>
                </ul>

                <%- include ('partials/mobileNavInfo.ejs') %>
            </div>
            <div class="logo">
                <h3><span class="letters">Web Development</span></h3>
                <p><span class="letters">By Manuel Neumayer</span></p>
            </div>
        </header>

        <div class="page-wrapper">
            <div class="welcome-wrapper">
                <div data-reveal-type="fade" class="welcome-section revealable">
                    <div class="heading">
                        <h1 class="no-letter-spacing"> <%- docText.index_page.welcome_heading %> </h1>
                    </div>

                    <div class="subheading">
                        <h1 class="typewriter">
                            <%- docText.index_page.welcome_heading_subtitle %> </h1>
                    </div>

                    <div class="contact-section">
                        <p> <%- docText.index_page.welcome_text_left %>
                            <span class="colored"> <%- docText.index_page.welcome_text_highlighted %> </span>
                            <%- docText.index_page.welcome_text_right %>
                        </p>
                    </div>
                </div>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M-0.27,135.69 C149.99,150.00 291.48,73.52 501.97,135.69 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7;"></path>
                </svg>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M0.28,131.73 C149.99,150.00 351.30,28.13 500.27,134.70 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7; fill-opacity: 0.3;"></path>
                </svg>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M0.28,131.73 C149.99,150.00 354.12,40.95 501.97,147.53 L501.97,153.45 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7; fill-opacity: 0.5"></path>
                </svg>
            </div>

            <div class="intro-section">
                <div class="container">
                    <div class="intro-content-container">
                        <div class="intro-content">
                            <div data-reveal-type="textRevealFromOverflow" class="prev-heading-wrapper revealable">
                                <h3>HOME</h3>
                                <span class="heading-line"></span>
                            </div>
                            <div class="intro-heading">
                                <h1 data-reveal-type="textRevealFromOverflow" class="revealable">Web Development.</h1>
                                <h1 data-reveal-type="textRevealFromOverflow" class="revealable"><strong>Individuell.</strong><h1>
                            </div>

                            <div data-reveal-type="fade" class="intro-text revealable">
                                <p>Als Entwickler mit Fokus auf Fullstack-Entwicklung bin ich Ihr Ansprechpartner für Fragen und Ideen im Bereich Web- und Softwareentwicklung - ich berate Sie gerne zu Entwicklung von Websites, Integration von Services in bestehende Anwendungen und vielem mehr - ich freue mich darauf, von Ihnen zu hören!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offers-wrapper">
                <div class="container">
                    <h1 data-reveal-type="fade" class="offers-heading revealable"> <%- docText.index_page.offers_background_headline %> </h1>

                    <div data-reveal-type="textRevealFromOverflow" class="prev-heading-wrapper revealable">
                        <h3>HOME</h3>
                        <span class="heading-line"></span>
                    </div>
                    <h1 data-reveal-type="textRevealFromOverflow" class="revealable typewriter offers-intro"> <%- docText.index_page.offers_headline %> </h1>

                    <div data-reveal-type="fade" class="offers revealable">
                        <h3 data-reveal-type="fade" class="offer-item revealable">Entwicklung und Pflege von Websites</h3>
                        <h3 data-reveal-type="fade" class="offer-item revealable">Entwicklung von Datenbankanwendungen</h3>
                        <h3 data-reveal-type="fade" class="offer-item revealable">Unterstützung in Entwicklungsteams</h3>
                        <h3 data-reveal-type="fade" class="offer-item revealable">Entwicklung und Integration von Services wie RESTful APIs</h3>
                        <h3 data-reveal-type="fade" class="offer-item revealable">E-Commerce</h3>
                    </div>
                </div>

                <span class="decorator-line-thin"></span>
                <span class="decorator-line-thick"></span>
            </div>

            <div data-reveal-type="scaleXFromLeft" class="decorator-line revealable" style="margin-top: 150px;"></div>
            <h1 data-reveal-type="fade" class="props-heading revealable"> Services </h1>

            <div class="props-wrapper">
                <div data-reveal-type="fade" class="props-image-container revealable"></div>
                <div class="props-content-container">
                    <div class="props">
                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-gem"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_one_headline %> </h3>
                            <p> <%- docText.index_page.services_item_one_text %> </p>
                            <span class="seperator"></span>
                        </div>

                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-tty"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_two_headline %> </h3>
                            <p> <%- docText.index_page.services_item_two_text %> </p>
                            <span class="seperator"></span>
                        </div>

                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-ruler-combined"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_three_headline %> </h3>
                            <p> <%- docText.index_page.services_item_three_text %> </p>
                            <span class="seperator"></span>
                        </div>

                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-mobile-alt"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_four_headline %> </h3>
                            <p> <%- docText.index_page.services_item_four_text %> </p>
                            <span class="seperator"></span>
                        </div>

                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-tachometer-alt"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_five_headline %> </h3>
                            <p> <%- docText.index_page.services_item_five_text %> </p>
                            <span class="seperator"></span>
                        </div>
                    </div>
                </div>

                <div class="bg-points props-points-decorator"></div>
            </div>

            <%- include ('partials/contactSection.ejs') %>

            <%- include ('partials/languageSelection.ejs') %>
        </div>
    </main>

    <div class="transition-container"></div>

    <%- include ('partials/footer.ejs') %>

    <script>
        // Check for Browser Support of the IntersectionObserver API and use a polyfill in case it's not supported
        if (!('IntersectionObserver' in window)) {
            const polyFill = document.createElement("script");
            polyFill.src = "https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver";
            document.body.appendChild(polyFill);
        }
    </script>

    <!-- GliderJS -->
    <script src="/assets/js/glider.min.js"></script>
    <!-- BarbaJS -->
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="/assets/js/anime.min.js"></script>
    <!-- FontAwesome -->
    <script defer src="/assets/js/fontawesome.min.js"></script>
    <script defer src="/assets/js/all.min.js"></script>

    <script src="/assets/js/gliderJSConfig.js"></script>
    <script type="module" src="/assets/js/select-language.js"></script>
    <script type="module" src="/assets/js/mobile-navigation.js"></script>
    <script type="module" src="/assets/js/animations.js"></script>
    <script type="module" src="/assets/js/typewriter.js"></script>
    <script type="module" src="/assets/js/barbaConfig.js"></script>
</body>

</html>