<!DOCTYPE html>
<html lang="<%- language %>">

<head>
    <title>Manuel Neumayer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/glider.min.css" rel="stylesheet">
    <link href="/assets/css/compiled.css" rel="stylesheet">
</head>

<body data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="home">
        <header>
            <div class="mobile-nav-toggler">
                <div class="mobile-nav-line first"></div>
                <div class="mobile-nav-line second"></div>
            </div>
            <div class="navigation">
                <ul>
                    <li class="active-nav-item"><a href="/<%- language %>"> <%- docText.common.home %> </a></li>
                    <li><a href="/<%- language %>/about"> <%- docText.common.about %> </a></li>
                    <li><a href="/<%- language %>/portfolio"> <%- docText.common.portfolio %> </a></li>
                    <li><a href="#"> <%- docText.common.impressum %> </a></li>
                </ul>
                
                <%- include ('partials/mobileNavInfo.ejs') %>
            </div>
            <div class="logo">
                <h3><span class="letters">Web Development</span></h3>
                <p><span class="letters">By Manuel Neumayer</span></p>
            </div>
        </header>

        <div class="page-wrapper">
            <div class="welcome-wrapper">
                <div class="container">
                    <div data-reveal-type="fadeUp" class="welcome-section revealable">
                        <div class="heading-big">
                            <h1> <%- docText.index_page.welcome_heading_big %> </h1>
                        </div>
                        <div class="heading-small">
                            <h2> <%- docText.index_page.welcome_heading_big_upper %> </h2>
                            <h3> <%- docText.index_page.welcome_heading_big_lower %> </h3>
                        </div>
                    </div>
                    <div data-reveal-type="fade" class="seperator revealable">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                    </div>
                    <div class="seperator-title">
                        <h1 data-reveal-type="fadeUp" class="typewriter revealable"> <%- docText.index_page.welcome_heading_subtitle %> </h1>
                    </div>
                    <div data-reveal-type="fadeUp" class="contact-section revealable">
                        <p> <%- docText.index_page.welcome_text_left %> 
                            <span class="colored"> <%- docText.index_page.welcome_text_highlighted %> </span>
                            <%- docText.index_page.welcome_text_right %>
                        </p>
                    </div>
                </div>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M-0.27,135.69 C149.99,150.00 291.48,73.52 501.97,135.69 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7;"></path>
                </svg>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M0.28,131.73 C149.99,150.00 351.30,28.13 500.27,134.70 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7; fill-opacity: 0.3;"></path>
                </svg>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M0.28,131.73 C149.99,150.00 354.12,40.95 501.97,147.53 L501.97,153.45 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7; fill-opacity: 0.5"></path>
                </svg>
            </div>

            <div class="intro-section">
                <h1 data-reveal-type="fadeUp" class="welcome-heading revealable"> <%- docText.index_page.intro_background_headline %> </h1>

                <div data-reveal-type="fade" class="intro-image-container revealable">
                    <div class="bg-points intro-image-points-decorator"></div>
                </div>
                <div data-reveal-type="fade" class="intro-content-container revealable">
                    <div class="intro-content">
                        <div class="intro-heading">
                            <h1>Web Development.</h1>
                            <h1><strong>Individuell.</strong><h1>
                        </div>
    
                        <div class="intro-text">
                            <p>Ich bin Ihr Ansprechpartner für alles, was das Web angeht. Egal ob Development, Design oder Hosting - ich berate Sie gerne!</p>
                        </div>

                        <div class="decorator-small decorator-top-top-left"></div>
                        <div class="decorator-small decorator-top-top-right"></div>
                        <div class="decorator-small decorator-top-bottom-left"></div>
                        <div class="decorator-small decorator-top-bottom-right"></div>

                        <div class="decorator-big decorator-bottom-top-left"></div>
                        <div class="decorator-big decorator-bottom-top-right"></div>
                        <div class="decorator-big decorator-bottom-bottom-left"></div>
                        <div class="decorator-big decorator-bottom-bottom-right"></div>

                        <div class="bg-points intro-content-points-decorator"></div>
                    </div>
                </div>
            </div>

            <div class="offers-slider">
                <div class="decorator-line"></div>
                <h1 class="offers-heading"> <%- docText.index_page.offers_background_headline %> </h1>
                <h1 data-reveal-type="fade" class="offers-intro typewriter revealable"> <%- docText.index_page.offers_headline %> </h1>
                <div class="glider glider-contain">
                    <div data-reveal-type="fadeUp" class="slider-item revealable">
                        <div class="slide-image-container"></div>
                        <div class="slide-content-container">
                            <div class="category-info">
                                <p> <%- docText.index_page.offers_card_title %> </p>
                                <span class="info-line"></span>
                            </div>
                            <div class="offer-index">/ 1</div>
                            <div class="offer-description">
                                <h1> <%- docText.index_page.offers_blogs %> </h1>
                                <p> <%- docText.index_page.offers_blogs_desc %> </p>
                            </div>
                        </div>
                    </div>

                    <div data-reveal-type="fadeUp" class="slider-item revealable">
                        <div class="slide-image-container"></div>
                        <div class="slide-content-container">
                            <div class="category-info">
                                <p> <%- docText.index_page.offers_card_title %> </p>
                                <span class="info-line"></span>
                            </div>
                            <div class="offer-index">/ 2</div>
                            <div class="offer-description">
                                <h1> <%- docText.index_page.offers_business %> </h1>
                                <p> <%- docText.index_page.offers_business_desc %> </p>
                            </div>
                        </div>
                    </div>

                    <div data-reveal-type="fadeUp" class="slider-item revealable">
                        <div class="slide-image-container"></div>
                        <div class="slide-content-container">
                            <div class="category-info">
                                <p> <%- docText.index_page.offers_card_title %> </p>
                                <span class="info-line"></span>
                            </div>
                            <div class="offer-index">/ 3</div>
                            <div class="offer-description">
                                <h1> <%- docText.index_page.offers_maintenance %> </h1>
                                <p> <%- docText.index_page.offers_maintenance_desc %> </p>
                            </div>
                        </div>
                    </div>

                    <div data-reveal-type="fadeUp" class="test-item slider-item revealable">
                        <div class="slide-image-container"></div>
                        <div class="slide-content-container">
                            <div class="category-info">
                                <p> <%- docText.index_page.offers_card_title %> </p>
                                <span class="info-line"></span>
                            </div>
                            <div class="offer-index">/ 4</div>
                            <div class="offer-description">
                                <h1 style="color: black;"> <%- docText.index_page.offers_ecommerce %> </h1>
                                <p> <%- docText.index_page.offers_ecommerce_desc %> </p>
                            </div>
                        </div>
                    </div>

                    <div data-reveal-type="fadeUp" class="test-item slider-item revealable">
                        <div class="slide-image-container"></div>
                        <div class="slide-content-container">
                            <div class="category-info">
                                <p> <%- docText.index_page.offers_card_title %> </p>
                                <span class="info-line"></span>
                            </div>
                            <div class="offer-index">/ 5</div>
                            <div class="offer-description">
                                <h1> <%- docText.index_page.offers_other %> </h1>
                                <p> <%- docText.index_page.offers_other_desc %> </p>
                            </div>
                        </div>
                    </div>
                </div>

                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div id="dots" role="tablist" class="dots"></div>
            </div>

            <div class="props-wrapper">
                <div data-reveal-type="fade" class="props-image-container revealable"></div>
                <div class="props-content-container">
                    <div class="services-headline-container">
                        <hr>
                        <h1 class="services-headline typewriter"><%- docText.index_page.services_headline %></h1>
                        <hr>
                    </div>

                    <div class="props">
                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-gem"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_one_headline %> </h3>
                            <p> <%- docText.index_page.services_item_one_text %> </p>
                            <span class="seperator"></span>
                        </div>

                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-tty"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_two_headline %> </h3>
                            <p> <%- docText.index_page.services_item_two_text %> </p>
                            <span class="seperator"></span>
                        </div>

                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-ruler-combined"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_three_headline %> </h3>
                            <p> <%- docText.index_page.services_item_three_text %> </p>
                            <span class="seperator"></span>
                        </div>

                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-mobile-alt"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3>  <%- docText.index_page.services_item_four_headline %> </h3>
                            <p> <%- docText.index_page.services_item_four_text %> </p>
                            <span class="seperator"></span>
                        </div>

                        <div data-reveal-type="fade" class="prop-item revealable">
                            <div class="icon-container">
                                <i class="fas fa-tachometer-alt"></i>
                                <span class="decorator-top-left"></span>
                                <span class="decorator-bottom-right"></span>
                            </div>
                            <h3> <%- docText.index_page.services_item_five_headline %> </h3>
                            <p> <%- docText.index_page.services_item_five_text %> </p>
                            <span class="seperator"></span>
                        </div>
                    </div>
                </div>

                <div class="bg-points props-points-decorator"></div>
            </div>

            <%- include ('partials/contactSection.ejs') %>

            <%- include ('partials/languageSelection.ejs') %>
        </div>
    </main>

    <div class="transition-container"></div>
    
    <%- include ('partials/footer.ejs') %>

    <script>
        // Check for Browser Support of the IntersectionObserver API and use a polyfill in case it's not supported
        if (!('IntersectionObserver' in window)) {
            const polyFill = document.createElement("script");
            polyFill.src = "https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver";
            document.body.appendChild(polyFill);
        }
    </script>


    <script src="/assets/js/glider.min.js"></script>
    <!-- BarbaJS -->
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="/assets/js/anime.min.js"></script>
    <!-- FontAwesome -->
    <script defer src="/assets/js/fontawesome.min.js"></script>
    <script defer src="/assets/js/all.min.js"></script>

    <script src="/assets/js/slider.js"></script>
    <script type="module" src="/assets/js/select-language.js"></script>
    <script type="module" src="/assets/js/mobile-navigation.js"></script>
    <script type="module" src="/assets/js/animations.js"></script>
    <script type="module" src="/assets/js/typewriter.js"></script>
    <script type="module" src="/assets/js/barbaConfig.js"></script>
</body>

</html>