<!DOCTYPE html>
<html lang="<%- language %>">

<head>
    <title>Manuel Neumayer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/compiled.css" rel="stylesheet">
</head>

<body data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="home">
        <header>
            <div class="mobile-nav-toggler">
                <div class="mobile-nav-line first"></div>
                <div class="mobile-nav-line second"></div>
            </div>
            <div class="navigation">
                <ul>
                    <li class="active-nav-item"><a href="/<%- language %>"> <%- docText.common.home %> </a></li>
                    <li><a href="/<%- language %>/about"> <%- docText.common.about %> </a></li>
                    <li><a href="#"> <%- docText.common.portfolio %> </a></li>
                    <li><a href="#"> <%- docText.common.impressum %> </a></li>
                </ul>
            </div>
            <div class="logo">
                <h3><span class="letters">Web Development</span></h3>
                <p><span class="letters">By Manuel Neumayer</span></p>
            </div>
        </header>

        <%- include ('partials/splash-screen.ejs') %>


        <div class="page-wrapper">
            <div class="welcome-wrapper">
                <div class="container">
                    <div data-reveal-type="fadeUp" class="welcome-section revealable">
                        <div class="heading-big">
                            <h1> <%- docText.index_page.welcome_heading_big %> </h1>
                        </div>
                        <div class="heading-small">
                            <h2> <%- docText.index_page.welcome_heading_big_upper %> </h2>
                            <h3> <%- docText.index_page.welcome_heading_big_lower %> </h3>
                        </div>
                    </div>
                    <div data-reveal-type="fade" class="seperator revealable">
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                    </div>
                    <div data-reveal-type="fadeUp" class="seperator-title revealable">
                        <h1 class="typewriter"> <%- docText.index_page.welcome_heading_subtitle %> </h1>
                    </div>
                    <div data-reveal-type="fadeUp" class="contact-section revealable">
                        <p> <%- docText.index_page.welcome_text_left %> 
                            <span class="colored"> <%- docText.index_page.welcome_text_highlighted %> </span>
                            <%- docText.index_page.welcome_text_right %>
                        </p>
                    </div>
                </div>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M-0.27,135.69 C149.99,150.00 291.48,73.52 501.97,135.69 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7;"></path>
                </svg>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M0.28,131.73 C149.99,150.00 351.30,28.13 500.27,134.70 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7; fill-opacity: 0.3;"></path>
                </svg>

                <svg class="wave" viewBox="0 0 500 150" preserveAspectRatio="none" style="width: 100%;">
                    <path d="M0.28,131.73 C149.99,150.00 354.12,40.95 501.97,147.53 L501.97,153.45 L0.00,150.00 Z"
                        style="stroke: none; fill: #f7f7f7; fill-opacity: 0.5"></path>
                </svg>
            </div>

            <div class="biography-wrapper">
                <h1 data-reveal-type="fadeUp" class="opacity-header revealable"> <%- docText.index_page.biography_welcome %> </h1>
                <div class="container biography-container">
                    <div data-reveal-type="fadeFromLeft" class="biography-image-container revealable">
                        <img src="/assets/img/dev-workflow.jpeg">
                    </div>

                    <div data-reveal-type="fadeFromRight" class="biography-content-container revealable">
                        <h1> <%- docText.index_page.biography_headline %> </h1>
                        <hr class="bio-underline">
                        <div class="bio-text">
                            <p> <%- docText.index_page.biography_text_upper %> </p>
                            <br>
                            <p> <%- docText.index_page.biography_text_lower %> </p>
                        </div>
                        <a class="bio-read-more-btn" href="/<%- language %>/about"> <%- docText.index_page.biography_more_button %> </a>
                    </div>
                </div>

                <hr class="biography-seperator">
            </div>

            <div class="offers-wrapper">
                <h1 data-reveal-type="fade" class="offers-intro typewriter revealable"> <%- docText.index_page.offers_headline %> </h1>
                <div class="offers">
                    <div data-reveal-type="fadeUp" class="offer-item revealable">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1> <%- docText.index_page.offers_blogs %> </h1>
                        <img src="/assets/img/blog-min.jpg">
                    </div>

                    <div data-reveal-type="fadeUp" class="offer-item revealable">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1> <%- docText.index_page.offers_business %> </h1>
                        <img src="/assets/img/company-min.jpg">
                    </div>

                    <div data-reveal-type="fadeUp" class="offer-item revealable">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1> <%- docText.index_page.offers_maintenance %> </h1>
                        <img src="/assets/img/maintenance-min.jpg">
                    </div>

                    <div data-reveal-type="fadeUp" class="offer-item revealable">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1> <%- docText.index_page.offers_ecommerce %> </h1>
                        <img src="/assets/img/ecommerce.jpg">
                    </div>

                    <div data-reveal-type="fadeUp" class="offer-item revealable">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1> <%- docText.index_page.offers_other %> </h1>
                        <img src="/assets/img/freelance.jpg">
                    </div>

                    <!-- <div class="offer-item">
                        <span class="frame upper-frame"></span>
                        <span class="frame bottom-frame"></span>
                        <h1></h1>
                        <img src="/assets/img/devices.jpg">
                    </div> -->
                </div>
            </div>

            <div class="props-wrapper">
                <div class="container">
                    <div class="services-intro">
                        <h1 data-reveal-type="fade" class="services-headline typewriter revealable"> <%- docText.index_page.services_headline %> </h1>
                        <div data-reveal-type="fade" class="seperator-big revealable">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>
                    </div>
                    <div class="props">
                        <div data-reveal-type="fadeUp" class="prop revealable">
                            <div class="icon-container">
                                <i class="fas fa-gem"></i>
                            </div>
                            <h1> <%- docText.index_page.services_item_one_headline %> </h1>
                            <p> <%- docText.index_page.services_item_one_text %> </p>
                        </div>

                        <div data-reveal-type="fadeUp" class="prop revealable">
                            <div class="icon-container">
                                <i class="fas fa-tty"></i>
                            </div>
                            <h1> <%- docText.index_page.services_item_two_headline %> </h1>
                            <p> <%- docText.index_page.services_item_two_text %> </p>
                        </div>

                        <div data-reveal-type="fadeUp" class="prop revealable">
                            <div class="icon-container">
                                <i class="fas fa-ruler-combined"></i>
                            </div>
                            <h1> <%- docText.index_page.services_item_three_headline %> </h1>
                            <p> <%- docText.index_page.services_item_three_text %> </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-section-wrapper">
                <div class="contact-info">
                    <h1 class="typewriter"> <%- docText.common.contact_headline %> </h1>
                    <p> <%- docText.common.contact_text %> </p>
                    <div class="email-container">
                        <div class="icon-container">
                            <i class="fas fa-envelope-open-text"></i>
                        </div>
                        <a href="mailto:089manu6@gmail.com"> <%- docText.common.contact_email %> </a>
                    </div>
                </div>

                <div class="contact-formular">
                    <form action="/contact" method="POST">
                        <div class="inputs-wrapper">
                            <div class="input-container">
                                <label for="name"> <%- docText.common.contact_form_label_name %> </label>
                                <input type="text" name="name" placeholder="<%- docText.common.contact_form_placeholder_name %>" required>
                            </div>
                            <div class="input-container">
                                <label for="email"> <%- docText.common.contact_form_label_email %> </label>
                                <input type="text" name="email" placeholder="<%- docText.common.contact_form_placeholder_email %>" required>
                            </div>
                            <div class="input-container">
                                <label for="topic"> <%- docText.common.contact_form_label_topic %> </label>
                                <input type="text" name="topic" placeholder="<%- docText.common.contact_form_placeholder_topic %>" required>
                            </div>
                        </div>
                        <div class="message-input-wrapper">
                            <textarea rows="1" cols="30" name="content" placeholder="<%- docText.common.contact_form_placeholder_textarea %>"
                                required></textarea>
                            <button class="contact-btn" type="submit"> <%- docText.common.contact_form_submit_button %> </button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="language-selection">
                <button><i class="fas fa-language"></i> <%- docText.common.select_lang_text %> </button>

                <div class="language-modal-container">
                    <div class="modal">
                        <div class="close-modal-btn">X</div>
                        <h1> <%- docText.common.select_lang_headline %> </h1>

                        <div class="options-container">
                            <div class="show-options-btn">
                                <i class="fas fa-language"></i> <%- docText.common.select_lang_subtitle %>
                            </div>
                            <div class="language-option">Deutsch</div>
                            <div class="language-option">English</div>
                        </div>
                        <a class="confirm-btn" href="#"> <%- docText.common.select_lang_confirm_btn %> </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="transition-container"></div>
    <%- include ('partials/footer.ejs') %>

    <script>
        // Check for Browser Support of the IntersectionObserver API and use a polyfill in case it's not supported
        if (!('IntersectionObserver' in window) && !('isIntersecting' in window.IntersectionObserverEntry.prototype)) {
            const polyFill = document.createElement("script");
            polyFill.src = "https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver";
            document.body.appendChild(polyFill);
        }
    </script>
    
    <!-- BarbaJS -->
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="/assets/js/anime.min.js"></script>
    <!-- FontAwesome -->
    <script defer src="/assets/js/fontawesome.min.js"></script>
    <script defer src="/assets/js/all.min.js"></script>

    <script type="module" src="/assets/js/select-language.js"></script>
    <script src="/assets/js/cookies.js"></script>
    <script type="module" src="/assets/js/mobile-navigation.js"></script>
    <script type="module" src="/assets/js/animations.js"></script>
    <script type="module" src="/assets/js/typewriter.js"></script>
    <script type="module" src="/assets/js/barbaConfig.js"></script>
</body>

</html>